*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: white;
    color:black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px; 
    height: 100px; 
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.loginreg a {
    margin-left: 20px;
    color: black;
}

.intro {
    background-image:url('travel_HD.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    color: black;
}

.con {
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    align-items: center;
    max-width: 8800px;
}

.text {
    background-color: antiquewhite;
    padding: 20px;
    border-left: 6px solid #6683ec;
}

.text p {
    line-height: 1.6;
    margin: 0;
}




.category{
    margin-top: 2%;
    background-color: #f5fefd;
}
.center-text{
    text-align: center;
}
.center-text h4{
    font-size: 20px;
    color:#5E6282;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
}
.center-text h2{
    font-size: 50px;
    color: #14183e;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Volkhov';
    margin-bottom: 70px;
}
.cate-pro{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    gap: 2rem;
    text-align: center;
}  
.row{
    padding: 60px 40px;
    background-color: #fff;
    margin-bottom: 20%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: rgba(0,0,0,0.1) -4px 9px 25px -6px;
    transition: all .42s;
} 
.row img{
    width: 75px;
    height:  auto;
    margin-bottom: 20px;
}
.row h5{
    font-size: 16px;
    color: #1E1D4C;
    font-weight: 600;
    margin-bottom: 15px;
}
.row p{
    color: #5E6282 ;
    font-size: 14px;
    font-weight: 500;
}
.row:hover{
    transform: translateY(-8px);
}
.section.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
}
section .heading .title{
    font-size: 28px;
    line-height: 34px;
    font-weight: 500;
    text-transform: uppercase;
    color: blue;
    text-align: center;
    letter-spacing: 4px;
}
.popular{
    margin-top: 2%;
    background-color: #fafafa;
}
.popular .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding:1rem ;

}
.popular .items{
    width: 300%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 1rem;
    overflow: hidden;
   
}
.popular .items .photos{
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: 1px 1px 4px #aaa;
}
.popular .items .image{
    width: 100%;
    height: 400px;
    overflow: hidden;
    cursor: pointer;
    transition: all 90ms;
}
.popular .items .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popular .items .image:hover img{
    transform: scale(1.08) ;
 }

.popular .content{
    padding: 1rem;
}
.popular .content .content-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .content-flex h4{
    font-size: 22px;
    font-weight: 700;
    color: #2C2855bb;
     
}
.popular .content-flex .id{
    font-weight: 500;
    color: #2c2855;
     
}
.popular .content p{
    font-size: 14px;
    font-weight: 400;
    width: 90%;
    padding: 0.5rem 0rem;
     
}
.slider{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ede6d6;
}
.slide-container{
    position: relative;
    width: 1000px;
    height: 350px;
    border: 3px solid #ede6d6 ;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}
.slide-container .slides{
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
    overflow: hidden ;
}
.slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
}
span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}
span.next{
    right: 20px;
}
span.prev{
    left: 20px;
}
span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
}
.dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
.dotsContainer .dot{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dotsContainer .active{
    background-color: #555;
}

@keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    } 
}
@keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
    
}
@keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    } 
}
@keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
    
}

/*.{
    margin-top: 10%

.{
    margin-top: 10%;

    margin-left:20% ;
    color: white;
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
} */

.whyuscontent {
    text-align: center;
    height: 300px;
}

.whyus {
    margin-bottom: 50px;
} 

.whyus h2 {
    margin-bottom: 10px;
}

.iconscontent {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    
    margin-top: 20px;
}

.icon {
    flex-basis: 30%;
}

.icon img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.icon h4 {
    margin-top: 10px;
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #eaf0f2;
}

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: violet;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: violet;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        

        




