body {
    margin:0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: white;
    color:black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; 
    height: 50px; 
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.loginreg a {
    margin-left: 20px;
    color: black;
}


.hero{
    background-color: #074f57;
    background-image: url("OIP.jpg");
    background-size: cover;
    color: rgb(20, 21, 21);
    padding-top: 200px;
    padding-bottom: 200px;
}

.container{
    width: 34%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.Mundesite{
    display: flex;
    margin-top: 1%;
    padding-right: 10%;
    width: 90%;
    height: 30%;
    background-color: aqua;
}
.tekst{
    width: 40%;
}
.titulli{
 
    color: white;

}
.ikonat{
    display: flex;
    background-color: red;
    flex-wrap: wrap;
    margin-left: 20%;
    width: 700px;
    justify-content: space-evenly;
    padding: 10%;
}
.ikona1{
    flex-direction: column;
    position: relative;
    width: 25%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.ikona1:hover{
    transform: scale(1.2);
    background-color: aliceblue;
}
.img{
    justify-content: center;
}
.destinacionet{
    background-color: blue;
    padding-top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
}
.destinacioni{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    height: 50px;
    color: lightseagreen;
}
.destinacioni h3{
    text-align: center;
    color: red;
}
.vendet{
    flex: 1;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    height: 75%;
    visibility: visible;
    flex-direction: column;
    animation-delay: 0.1s;
}

/*.{
    margin-top: 10%

.{
    margin-top: 10%;

    margin-left:20% ;
    color: white;
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
} */

.whyuscontent {
    text-align: center;
    height: 300px;
}

.whyus {
    margin-bottom: 50px;
} 

.whyus h2 {
    margin-bottom: 10px;
}

.iconscontent {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    
    margin-top: 20px;
}

.icon {
    flex-basis: 30%;
}

.icon img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.icon h4 {
    margin-top: 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    width: 300px;
    
}




